body {
  font-family: Arial, sans-serif;
  background-image: url(./imagens/fundo-livros.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 20px;
}

main {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
main > h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input, button {
  width: 90%;
  padding: 10px;
  margin: 5px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: #eee;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  flex-grow: 1;
}

